<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
	
	<div class="main-content">
		<h1>{{>header}}</h1>
		<p>This is some helptext</p>
	</div>
	
	{{>footer}}
</body>
</html>