* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #333333;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main-content {
	flex-grow: 1;
}

header {
	margin-top: 16px;
	margin-bottom: 40px;
}
header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;

}

header h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#message {
	margin-top: 24px;
	padding: 16px;
	border: 1px solid #dddddd;
	height: 100px;
}

input {
	border-radius: 3px;
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #888888;
	color: #333333;
	padding: 8px;
	border-radius: 3px;
}

/* #p1 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 24px;
	border: 1px #dddddd solid;
	padding: 16px;
} */